<style>
    footer {
        background-color: green;
        color: #fff;
        text-align: center;
        padding: 10px 0;
    }

    footer p {
        font-size: 14px; /* Adjust the font size as needed */
    }
</style>

<footer>
    <p>&copy;App created by Iremide Olatunji 2023</p>
</footer>
