<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Login</title>
    
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f3f3f3;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        header {
            flex: 0 0 auto;
        }

        main {
            background-color: #fff;
            margin: 10px auto;
            padding: 80px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            flex: 1 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        h1 {
            color: green;
        }

        form {
            width: 80%;
            max-width: 400px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 auto;
        }

        label {
            margin: 10px 0;
            font-size: medium;
            font-weight: bold;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        input {
            width: 100%;
            padding: 10px;
            margin: 5px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        button[type="submit"] {
            background-color: green;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 20px;
        }

        button[type="submit"]:hover {
            background-color: #005608;
        }
    </style>
</head>
<body>
    <%- include('./partials/header'); %>

    <main>
        <h1>Login</h1>
        <form action="/todo/login" method="POST">
        
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <br>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br>

          

            <a href="welcome">
            <button type="submit">Login</button>
            </a>
        </form>
    </main>

    <%- include('./partials/footer') %>
</body>
</html>